In [1]:
import pandas as pd

In [2]:
hypotesis = pd.read_csv('Bitcoin.csv')

In [3]:
def checkmove(row):
    if row['open'] < row['close']:
        return 'Apreciated'
    elif row['open'] > row['close']:
        return 'Depreciated'
    else:
        return 'Same'
    
hypotesis['movement'] = hypotesis.apply(checkmove, axis=1)

In [4]:
hypotesis.drop(columns= ['date']).groupby('movement').agg(['count', 'mean'])

             open                high                 low               close  \
            count          mean count          mean count          mean count
movement
Apreciated   1858  15240.782363  1858  15793.496997  1858  15067.251432  1858
Depreciated  1649  16722.959727  1649  16893.268975  1649  16070.627101  1649
Same            1    334.590000     1    336.530000     1    330.640000     1


                     mean
movement
Apreciated   15631.101523
Depreciated  16319.212887
Same           334.590000

In [5]:
def percentege(row):
    theper = (((row['close']-row['open'])/row['close'])*100)
    return round(theper, 2)
hypotesis['percent'] = hypotesis.apply(percentege, axis=1)

In [6]:
hypotesis['date'] = hypotesis['date'].apply(pd.to_datetime)

In [7]:
hypotesis['week_day'] = hypotesis['date'].dt.day_name()

In [8]:
outOfCurve = hypotesis[hypotesis['percent'] > 10]
display(outOfCurve)
len(hypotesis[hypotesis['percent'] > 10])

,date,open,high,low,close,movement,percent,week_day
786,2022-02-28,37706.00,43760.46,37518.21,43193.23,Apreciated,12.70,Monday
810,2022-02-04,37149.27,41527.79,37093.63,41500.88,Apreciated,10.49,Friday
1050,2021-06-09,33416.98,37537.37,32475.87,37345.12,Apreciated,10.52,Wednesday
1066,2021-05-24,34700.36,39835.14,34551.08,38705.98,Apreciated,10.35,Monday
1171,2021-02-08,38886.83,46203.93,38076.32,46196.46,Apreciated,15.82,Monday
1456,2020-04-29,7806.71,8871.75,7786.05,8801.04,Apreciated,11.30,Wednesday
1497,2020-03-19,5245.42,6329.74,5236.97,6191.19,Apreciated,15.28,Thursday
1643,2019-10-25,7490.70,8691.54,7479.98,8660.70,Apreciated,13.51,Friday
1762,2019-06-28,11162.17,12445.17,10914.50,12407.33,Apreciated,10.04,Friday
1802,2019-05-19,7267.96,8261.94,7267.96,8197.69,Apreciated,11.34,Sunday
1808,2019-05-13,6971.18,8047.41,6898.28,7814.92,Apreciated,10.80,Monday
1810,2019-05-11,6379.67,7333.00,6375.70,7204.77,Apreciated,11.45,Saturday
1849,2019-04-02,4156.92,4905.95,4155.32,4879.88,Apreciated,14.82,Tuesday
1974,2018-11-28,3822.47,4385.90,3822.47,4257.42,Apreciated,10.22,Wednesday
2204,2018-04-12,6955.38,7899.23,6806.51,7889.25,Apreciated,11.84,Thursday
2301,2018-01-05,15477.20,17705.20,15202.80,17429.50,Apreciated,11.20,Friday
2311,2017-12-26,14036.60,16461.20,14028.90,16099.80,Apreciated,12.82,Tuesday
2330,2017-12-07,14266.10,17899.70,14057.30,17899.70,Apreciated,20.30,Thursday
2331,2017-12-06,11923.40,14369.10,11923.40,14291.50,Apreciated,16.57,Wednesday
2386,2017-10-12,4829.58,5446.91,4822.00,5446.91,Apreciated,11.33,Thursday
2410,2017-09-18,3591.09,4079.23,3591.09,4065.20,Apreciated,11.66,Monday
2413,2017-09-15,3166.30,3733.45,2946.62,3637.52,Apreciated,12.95,Friday
2454,2017-08-05,2897.63,3290.01,2874.83,3252.91,Apreciated,10.92,Saturday
2470,2017-07-20,2269.89,2900.70,2269.89,2817.60,Apreciated,19.44,Thursday
2473,2017-07-17,1932.62,2230.49,1932.62,2228.41,Apreciated,13.27,Monday
2888,2016-05-28,473.03,533.47,472.70,530.04,Apreciated,10.76,Saturday
3095,2015-11-03,361.87,417.90,357.65,403.42,Apreciated,10.30,Tuesday
3387,2015-01-15,176.90,229.07,176.90,209.84,Apreciated,15.70,Thursday
3451,2014-11-12,367.98,429.72,367.98,423.56,Apreciated,13.12,Wednesday

29

In [9]:
hypotesis['week_day'] = hypotesis['date'].dt.day_name()

In [10]:
moveToWeek = hypotesis.groupby(['week_day','movement']).agg('count')['close']
display(moveToWeek)
(moveToWeek.loc['Friday','Apreciated']/len(hypotesis))*100

week_day   movement
Friday     Apreciated     276
           Depreciated    225
Monday     Apreciated     272
           Depreciated    229
Saturday   Apreciated     278
           Depreciated    223
Sunday     Apreciated     255
           Depreciated    246
Thursday   Apreciated     254
           Depreciated    247
Tuesday    Apreciated     265
           Depreciated    236
Wednesday  Apreciated     258
           Depreciated    243
           Same             1
Name: close, dtype: int64

7.8677309007981755

In [11]:
hypotesis.groupby('movement').agg('count')['close']['Apreciated']

1858

In [12]:
depreciated = {}
apreciated = {}
key = 0
for i in moveToWeek.items():
    toWhole = ((moveToWeek[i[0]]/len(hypotesis))*100)
    if i[0][1] == 'Apreciated':
        toMove = ((moveToWeek[i[0]]/(hypotesis.groupby('movement').agg('count')['close'][i[0][1]]))*100)
        apreciated[key] = {i[0][0]: round(toWhole, 2),
                           'To Move': round(toMove, 2)
                           }
    elif i[0][1] == 'Same':
        continue
    else:
        toMove = ((moveToWeek[i[0]]/(hypotesis.groupby('movement').agg('count')['close'][i[0][1]]))*100)
        depreciated[key] = {i[0][0]: round(toWhole, 2),
                           'To Move': round(toMove, 2)
                           }
    key+=1
        
display(apreciated)
display(depreciated)

{0: {'Friday': 7.87, 'To Move': 14.85},
 2: {'Monday': 7.75, 'To Move': 14.64},
 4: {'Saturday': 7.92, 'To Move': 14.96},
 6: {'Sunday': 7.27, 'To Move': 13.72},
 8: {'Thursday': 7.24, 'To Move': 13.67},
 10: {'Tuesday': 7.55, 'To Move': 14.26},
 12: {'Wednesday': 7.35, 'To Move': 13.89}}

{1: {'Friday': 6.41, 'To Move': 13.64},
 3: {'Monday': 6.53, 'To Move': 13.89},
 5: {'Saturday': 6.36, 'To Move': 13.52},
 7: {'Sunday': 7.01, 'To Move': 14.92},
 9: {'Thursday': 7.04, 'To Move': 14.98},
 11: {'Tuesday': 6.73, 'To Move': 14.31},
 13: {'Wednesday': 6.93, 'To Move': 14.74}}

In [13]:
hypotesis

,date,open,high,low,close,movement,percent,week_day
0,2024-04-24,66420.40,67053.77,63702.55,64317.48,Depreciated,-3.27,Wednesday
1,2024-04-23,66839.89,67199.24,65864.87,66407.27,Depreciated,-0.65,Tuesday
2,2024-04-22,64935.63,67233.96,64548.18,66837.68,Apreciated,2.85,Monday
3,2024-04-21,64992.82,65723.24,64277.72,64926.64,Depreciated,-0.10,Sunday
4,2024-04-20,63851.10,65442.46,63172.40,64994.44,Apreciated,1.76,Saturday
...,...,...,...,...,...,...,...,...
3503,2014-09-21,408.08,412.43,393.18,398.82,Depreciated,-2.32,Sunday
3504,2014-09-20,394.67,423.30,389.88,408.90,Apreciated,3.48,Saturday
3505,2014-09-19,424.10,427.83,384.53,394.80,Depreciated,-7.42,Friday
3506,2014-09-18,456.86,456.86,413.10,424.44,Depreciated,-7.64,Thursday
3507,2014-09-17,465.86,468.17,452.42,457.33,Depreciated,-1.87,Wednesday

In [14]:
# The idea here is to create an identifier that enables us to group days by week.
# So were creating 2 columns, iso_week and iso_year for that purpose.
hypotesis = hypotesis.sort_values(by="date")
hypotesis['iso_year'] = hypotesis['date'].dt.isocalendar().year
hypotesis['iso_week'] = hypotesis['date'].dt.isocalendar().week

# Create a unique identifier for each ISO year-week combination
hypotesis['iso_year_week'] = hypotesis['iso_year'].astype(str) + '_W' + hypotesis['iso_week'].astype(str)

In [19]:
x = hypotesis.groupby(["iso_year_week", "week_day"])["high"].agg("max").reset_index()
display(x.head(50))

   iso_year_week   week_day    high
0       2014_W38     Friday  427.83
1       2014_W38   Saturday  423.30
2       2014_W38     Sunday  412.43
3       2014_W38   Thursday  456.86
4       2014_W38  Wednesday  468.17
5       2014_W39     Friday  414.94
6       2014_W39     Monday  406.92
7       2014_W39   Saturday  406.62
8       2014_W39     Sunday  401.02
9       2014_W39   Thursday  423.52
10      2014_W39    Tuesday  441.56
11      2014_W39  Wednesday  436.11
12      2014_W40     Friday  377.70
13      2014_W40     Monday  385.21
14      2014_W40   Saturday  364.49
15      2014_W40     Sunday  341.80
16      2014_W40   Thursday  385.50
17      2014_W40    Tuesday  390.98
18      2014_W40  Wednesday  391.38
19      2014_W41     Friday  375.07
20      2014_W41     Monday  345.13
21      2014_W41   Saturday  367.19
22      2014_W41     Sunday  379.43
23      2014_W41   Thursday  382.73
24      2014_W41    Tuesday  339.25
25      2014_W41  Wednesday  354.36
26      2014_W42     Friday  385.48
27      2014_W42     Monday  397.23
28      2014_W42   Saturday  395.16
29      2014_W42     Sunday  393.94
30      2014_W42   Thursday  398.81
31      2014_W42    Tuesday  411.70
32      2014_W42  Wednesday  402.23
33      2014_W43     Friday  364.35
34      2014_W43     Monday  390.08
35      2014_W43   Saturday  359.86
36      2014_W43     Sunday  359.22
37      2014_W43   Thursday  385.05
38      2014_W43    Tuesday  392.65
39      2014_W43  Wednesday  388.58
40      2014_W44     Friday  348.05
41      2014_W44     Monday  358.63
42      2014_W44   Saturday  340.53
43      2014_W44     Sunday  329.05
44      2014_W44   Thursday  350.91
45      2014_W44    Tuesday  359.98
46      2014_W44  Wednesday  357.83
47      2014_W45     Friday  352.73
48      2014_W45     Monday  334.00
49      2014_W45   Saturday  347.03

In [20]:
index_keep = x.groupby("iso_year_week")["high"].idxmax().values

In [29]:
max_per_week = x.loc[index_keep]
y = max_per_week["week_day"].value_counts()
y

Monday       128
Sunday        99
Tuesday       64
Wednesday     57
Saturday      57
Thursday      49
Friday        48
Name: week_day, dtype: int64

In [32]:
for i in y:
    percentage = (i / len(index_keep)) * 100
    print(percentage)

25.49800796812749
19.721115537848604
12.749003984063744
11.354581673306772
11.354581673306772
9.760956175298805
9.56175298804781